language: cpp
sudo: false

env:
  - NODE_VERSION="6.1.0" RUBY_VERSION="2.3.1"
os:
  - linux
  - osx

# C++11 support
# See https://github.com/PacificBiosciences/pbdagcon/pull/7

compiler:
  - gcc

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - upx-ucl
      - gcc-4.8
      - g++-4.8
      - clang
      - dpkg
      - fakeroot

before_install:
  - rm -rf ~/.nvm
  - git clone https://github.com/creationix/nvm.git ~/.nvm
  - source ~/.nvm/nvm.sh
  - nvm --version
  - nvm install $NODE_VERSION
  - node --version
  - npm --version
  - npm config set spin=false
  - rvm install $RUBY_VERSION
  - rvm use $RUBY_VERSION

install:
  - if [ "$CXX" = "g++" ] && [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      export CXX="g++-4.8" CC="gcc-4.8";
    fi
  - gem install scss_lint
  - npm install -g bower
  - npm install -g electron-installer-debian
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      ./scripts/build/linux.sh install x64;
    fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      brew install afsctool;
    fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      ./scripts/build/darwin.sh install;
    fi

before_script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      export DISPLAY=:99.0;
      sh -e /etc/init.d/xvfb start;
    fi

script:
  - npm test

notifications:
  email: false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/0a019c8b9828eb9f6a72
    on_success: change
    on_failure: always
    on_start: never
