language: node_js
sudo: false
node_js:
  - "6.1.0"

services:
  - docker

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libstdc++-6-dev

env:
  global:
    - CCACHE_TEMPDIR=/tmp/.ccache-temp
    - CCACHE_COMPRESS=1
    - CC="clang"
    - CXX="clang++"
  matrix:
    - TARGET_ARCH=x64
    - TARGET_ARCH=x86

matrix:
  fast_finish: true
  exclude:
    - os: osx
      env: TARGET_ARCH=x86

os:
  - linux
  - osx

before_install:
  - npm config set spin=false

install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      ./scripts/build/docker/run-command.sh -r "${TARGET_ARCH}" -s "${PWD}" -c "make info && make electron-develop";
    else
      pip install codespell==1.9.2 awscli;
      npm install -g asar;
      brew install afsctool jq;
      make info;
      travis_wait make electron-develop;
    fi

script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      ./scripts/build/docker/run-command.sh -r "${TARGET_ARCH}" -s "${PWD}" -c "make sanity-checks && xvfb-run --server-args=$XVFB_ARGS npm test";
    else
      make sanity-checks && npm test;
    fi

deploy:
  provider: script
  skip_cleanup: true
  script: scripts/ci/deploy-travis.sh
  on:
    branch: master

notifications:
  email: false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/0a019c8b9828eb9f6a72
    on_success: change
    on_failure: always
    on_start: never
