language: node_js
sudo: false
node_js:
  - "6.10.3"

services:
  - docker

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libstdc++-6-dev

env:
  global:
    - CCACHE_TEMPDIR=/tmp/.ccache-temp
    - CCACHE_COMPRESS=1
    - CC="clang"
    - CXX="clang++"
  matrix:
    - TARGET_ARCH=x64
    - TARGET_ARCH=x86

matrix:
  fast_finish: true
  exclude:
    - os: osx
      env: TARGET_ARCH=x86

os:
  - linux
  - osx

install:
  - travis_wait ./scripts/ci/travis-install.sh

script:
  - ./scripts/ci/travis-test.sh
  - ./scripts/ci/travis-build-installers.sh

deploy:
  provider: script
  skip_cleanup: true
  script: scripts/ci/travis-deploy.sh
  on:
    branch: master

notifications:
  email: false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/0a019c8b9828eb9f6a72
    on_success: change
    on_failure: always
    on_start: never
