language: cpp
sudo: false

env:
  - NODE_VERSION="4"
os:
  - linux
  - osx

before_install:
  - rm -rf ~/.nvm
  - git clone https://github.com/creationix/nvm.git ~/.nvm
  - source ~/.nvm/nvm.sh
  - nvm --version
  - nvm install $NODE_VERSION
  - node --version
  - npm --version
  - npm config set spin=false

install:
  - npm install
  - npm install -g bower
  - bower install

before_script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      export DISPLAY=:99.0;
      sh -e /etc/init.d/xvfb start;
    fi

script:
  - npm test

notifications:
  email: false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/8b150eaf525c280ec2ac
    on_success: change
    on_failure: always
    on_start: never
